/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
    --primary-color :#65A30D;
    --dark-gray:#DC2626;
    --offwhite:#86A8E7;
}

body{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Libre Baskerville', serif;
    margin: 0px;
    background-image:  linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

hr{
    margin: 2rem 0rem;
   
}
.margin-md{
    margin: 2rem;
}

/*CONTAINER*/
.container {
    padding: 0rem 1rem ;
    
     /* background-color: #00ADA4;  */
     /* background-size: ; */
     
}
.container-center{
   
    max-width : 600px;
    margin: auto;
  
}


/** links **/
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-bottom-left-radius: 1rem;
    
}
.link-primary{
background-color:#65A30D;
border-bottom-left-radius: 1rem;
border: 4px solid  #0B0D5D;
display: block; 
max-width: 140px;
font-weight:700;
margin: 1rem 1rem 1rem 0rem;
text-align: center;
text-decoration: none;
}

.link-secondary{
    text-decoration: none;
    border-radius : 0.5rem;
    color:#78D706;   
}

.container .container-center .margin-md .link-secondary{
    color:#78D706;  
}


 /**Lists**/
 .list-non-bullet{
     list-style: circle;
     padding-inline-start: 0px;
 }
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation**/
.navigation{
    /* background-image: linear-gradient(to top, #1e3c69, #61467f, #9f4c82, #d15a73, #ee7959); */
    background-color:  #051937; 
    /* color: white; */
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    text-decoration: none;
}
.navigation .link{
    color:white;
    text-decoration: none;
}
.navigation .nav-pills{
    text-align: right;
    
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    color :#8ED90E;
}
.navigation .link-active{
    font-weight: bold;
    text-decoration: none;
}
/**Header**/
.hero{
    padding: 2rem;
    padding-top: 4rem;
}
.hero .hero-img{
    max-width: 80%;
    width: 550px;
    display: block;
    margin: auto;
}
.hero .hero-heading {
    text-align: center;
    color:#0B5D14;
    padding-top : 1rem;
}
.hero .hero-heading .heading-inverted{
    color:#01070f;
}

/**Section**/
.section {
    padding: 2rem;
}

.section .h1{
    text-align: center;
    padding: 2rem;
}
.section-ow {
    background-color: #A9F00A;
}


/**Footer**/
.footer{
     background-color:#051937; 
    
 /* background-image: linear-gradient(to bottom, #051937, #082869, #34339b, #6e32c7, #b212eb);  */
    padding : 2rem 2rem;
    text-align: center;
    color:white;
    border-top-left-radius: 1rem;
}
.footer .footer-header{
    font-size: large;
    font-weight: bold;
    /* padding: 2rem;*/
} 
.footer .link {
    color: #A21CAF;
    text-decoration: none;
}
.footer .ul{
    padding-inline-start: 0px;
}
.blogs{
    max-height: 100vh;
}
.blog1{
 text-align: center;
}